#page-content {
    width: 100vw;
}

#floating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#inner-content {
    width: 66vw;
}

body {
    /* background-color: #E7ECEF; */
    /* background-color: #F6F0ED; */
    /* background-color: #F6F7EB; */
    background-color: #E7ECEF;
}

p {
    font-family: BlinkMacSystemFont, -apple-system, 'Source Sans Pro', sans-serif;
    font-weight: 250;
    color: #272932;
    font-size: 17.5px;
}

h2 {
    font-family: BlinkMacSystemFont, -apple-system, 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #272932;
    font-size: 37px;
}

p>a {
    /* position: relative;
    color: #000;
    text-decoration: none; */
    /* text-decoration: underline; */
    /* border-bottom: 1px solid #000; */
    /* color: #272932; */
    color: #13505B;
    text-decoration: none;
    background-image: linear-gradient(#13505B, #13505B), linear-gradient(#13505B, #13505B), linear-gradient(#119DA4, #119DA4);
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    /* transition: background-size 0.3s linear, background-position 0.3s linear; */
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

p>a:hover {
    /* color: #000; */
    color: #119DA4;
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.waving-hand {
    animation-name: wave-animation;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    15% { transform: rotate(20.0deg) } 
    30% { transform: rotate(-9.0deg) }
    40% { transform: rotate(20.0deg) }
    50% { transform: rotate(-9.0deg) }
    60% { transform: rotate(12.0deg) }
    70% { transform: rotate( 0.0deg) }  
   100% { transform: rotate( 0.0deg) }
  }


/* p>a:before {
    display: inline-block;
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
} */


/* p > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  } */